<!-- <app-counter></app-counter>    comando para comentar ctrl+k+c-->
<!-- <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container-fluid">
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <table class="table text-center">
        <thead>
          <tr>
            <th>Información</th>
            <th scope="row">Formulario N°</th>
            <th scope="row">Aforo</th>
            <th scope="row">Tipo Trámite</th>
            <th scope="row">Última madificación</th>
          </tr>
        </thead>

        <tbody>
          <tr>
            <td></td>
            <td>443543535435</td>
            <td>6578/2023</td>
            <td>Informe</td>
            <td>11-23-2023</td>
          </tr>
        </tbody>
        <thead>
          <tr>
            <th scope="row">SOLICITANTE</th>
            <th scope="row">Formulario N°</th>
            <th scope="row">Aforo</th>
            <th scope="row">Tipo Trámite</th>
            <th scope="row">Última madificación</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td></td>
            <td>443543535435</td>
            <td>6578/2023</td>
            <td>Informe</td>
            <td>11-23-2023</td>
          </tr>
        </tbody>
      </table> -->
<!-- <app-heroe></app-heroe>
<app-heroes-list></app-heroes-list>
<app-counter> </app-counter> -->
<app-main-dbz></app-main-dbz>
